name: Archive source if secure

on: push

jobs:
  zip_if_secure:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Snyk to check for vulnerabilities
        id: snyk
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --all-projects

      - name: Create ZIP of code if secure
        if: ${{ success() }}
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: zip
          filename: source.zip
          exclusions: '*.git*'

      - name: Upload ZIP artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: secure-source-code
          path: source.zip
